MONGO_URL= mongodb://localhost:27018/teslodb
# Custom login no necesario si se trabaja con next-auth
JWT_SECRET_SEED=
# Next Auth
NEXTAUTH_SECRET=
# Variables publicas
NEXT_PUBLIC_IVA=0.19
NEXT_DOLAR_EXCHANGE_RATE=4568.81

# Autentication providers
GITHUB_ID=
GITHUB_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Paypal credentials
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PAYPAL_SECRET=